.container-header {
font-family: Verdana;
font-size: 14px;
font-weight: bold;
display: flex;
align-items: center;
border-bottom: 1px solid black;
padding-bottom: 6px;
flex-wrap: wrap;
}

.title {
color: MediumAquamarine;
flex-grow: 1;
flex-shrink: 1;
text-align: left;
padding-left: 30px;
}

.nav {
flex-grow: 2;
flex-shrink: 1;
text-align: center;
word-spacing: 30px;
}

a {
color: black;
}

a:hover {
color: MediumAquaMarine;
}


.container-content {
font-family: "Times New Roman", serif;
display: flex;
margin-top: 10px;
align-items: stretch;
justify-content: space-around;
}

#column.large {
width: 630px;
display: flex;
flex-grow: 1;
}

#column.medium {
width: 300px;
display: flex;
flex-grow: 1;
}

#column.small {
width: 240px;
display: flex;
flex-grow: 1;
}


#main {
background-image: url(img-story-main.png);
background-size: contain;
background-repeat: no-repeat;
}
