body {
margin: 0 0;
}

.container {
font-family: Verdana;
font-size: 14px;
font-weight: bold;
display: flex;
align-items: center;
position: fixed;
border-bottom: 1px solid black;
width: 100%;
padding-bottom: 6px;
}


.title {
color: MediumAquamarine;
flex-grow: 1;
flex-shrink: 1;
text-align: left;
padding-left: 30px;
}

.nav {
flex-grow: 2;
flex-shrink: 1;
text-align: center;
word-spacing: 30px;
}

a {
color: black;
}

a:hover {
color: MediumAquaMarine;
